
{{!-- the general application layout --}}
<div class = "container">
   <div class = "header">
      {{header-part}} {{!why does the footer appear when u remove header part}}
   </div>
   <div class = "body">
      {{outlet}}
   </div>
   <div class = "footer">
      {{partial 'footer'}}
   </div>

</div>