<section id="main" class="mapFlow floats-in middleSection" role="main">
  {{select-box
    content = tileLayers
    selection= selectedOption
    optionLabelPath="label"
    optionValuePath="value"
    prompt = 'select your favourite map layer'
    didChangeAction= 'changeLayer'
   }}
  
  <div id="dropdown-holder">
     <div id="mapDetailsHideShow" class="drawHandle hideMapD"></div>
  </div>
       {{#leaflet-map lat=lat lng=lng zoom=zoom}}
             {{!-- Specify child layer components here --}}
             {{!tile-layer url= "http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}
             {{tile-layer url= defaultLayer}}
             {{!u need to play with the markers n popups}}
             {{#each locationPoints as |POI|}}
               {{#marker-layer  location = POI.dataPoint}}
                  {{#popup-layer}}
                     <h3>{{POI.title}}</h3>
                      {{POI.street}}<br>
                  {{/popup-layer}}
               {{/marker-layer}}
             {{/each}}
        
      {{/leaflet-map}}

</section>