{{!outlet}}
<h3>displaying the maps</h3>
{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url= "http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}
{{/leaflet-map}}